version: '1'

services:
    calculator:
        container_name: calculator_c
        build: .
        ports:
            - '3000:3000'
        volumes:
            - ./src:/app/src
            - ./public/assets:/app/public/assets
            - /app/node_modules
        stdin_open: true
        tty: true
        command: npm run dev
